<%_
var data = {
  title: "タイトルです",
  description: "",
  current: "", 
  assetsDir: "/assets/",
}
_%>
<%_ data.content = function(){ _%>
<%- include( data.current + 'include/_header'); -%>
 <main>
 <h1>タイトルです</h1>

</main>
<%_ } _%>
<%- include( data.current + 'include/_head', {data:data}); -%>
<%- data.content(); -%>
<%- include( data.current + 'include/_foot', {data:data}); -%>
